/* Stili CSS per il layout del sito */
body {
  font-family: 'Arial', sans-serif;
  background-color: #F4EDEB; /* Colore sabbia per lo sfondo */
  margin: 0;
  padding: 0;
}

.container {
  overflow: hidden; /* Nasconde il contenuto che esce dal riquadro */
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Effetto ombra */
}

h1 {
  text-align: center;
  color: #333333; /* Colore testo per l'intestazione */
  font-size: 32px;
  margin-top: 0;
}

.product {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.product img {
  width: 200px; /* Larghezza desiderata per l'immagine del prodotto */
  margin-right: 10px;
}

.raffle {
  text-align: center;
  margin-top: 20px;
}

/* Stili CSS per i pulsanti */
.button-partecipa {
  display: inline-block;
  padding: 10px 20px;
  background-color: #E0CDAE; /* Colore sabbia */
  color: #333333; /* Colore testo */
  text-decoration: none;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.button-partecipa:hover {
  background-color: #D1BE9B; /* Tonalità più scura del colore sabbia */
}

/* Stili CSS per gli input */
.input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #CCCCCC;
  border-radius: 5px;
}

.input:focus {
  outline: none;
  border-color: #555555;
}

/* Stili CSS per gli alert */
.alert {
  display: none;
  padding: 10px;
  margin-top: 10px;
  background-color: #FFCCCC;
  color: #FF0000;
  border: 1px solid #FF0000;
  border-radius: 5px;
}

.alert:hover {
  cursor: pointer;
}
